.content-body {
  max-width: 1024px;
}

.post-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem auto;
  padding-bottom: 2rem;
  border-bottom: 1px solid rgb(187, 187, 187);
}

.post-title {
  font-size: 3rem;
  margin-top: -0.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

@media (max-width: 768px) {
  .post-title {
    font-size: 2rem;
  }
}

.series {
  font-size: 1rem;
  margin-bottom: 0.1rem;
}

.post-date,
.time-to-read {
  display: flex;
  gap: 0.2rem;
  align-items: center;
}

.post-date {
  margin-right: 1rem;
}
