@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 200, 400, 600, 800;
  font-display: swap;
  src: url("/font/NotoSansKR.woff2") format("font-woff2");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
span,
div,
button,
input,
textarea,
label,
select,
option,
strong,
em,
blockquote {
  font-family: "Noto Sans KR", sans-serif;
}

html {
  scroll-behavior: smooth;
}
