.prose h1 {
  font-size: 32px;
  font-weight: bolder;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

.prose h2 {
  font-size: 24px;
  font-weight: bolder;
  margin-bottom: 1.4rem;
  margin-top: 1rem;
}

.prose h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 1.2rem;
  margin-top: 1rem;
}

.prose h4 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.prose h5 {
  font-size: 14px;
  margin-bottom: 0.6rem;
  margin-top: 1rem;
}

.prose h6 {
  font-size: 12px;
  margin-bottom: 0.4rem;
  margin-top: 1rem;
}

.prose hr {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.prose pre {
  width: 100%;
  overflow-x: auto;
  padding: 0.5rem;
  background-color: #f5f5f5;
  margin: 2rem 0;
}

.dark .prose pre {
  background-color: #333;
}

.prose ul,
.prose ol {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.prose ul li,
.prose ol li {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-left: 1.2rem;
  text-indent: -1.2rem;
}

.prose ul {
  list-style-type: disc;
  list-style-position: inside;
  margin-left: 1rem;
}

.prose .list-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.prose ul li::marker {
  color: #c3c3c3;
}

.dark .prose ul li::marker {
  color: #666;
}

.prose ol {
  list-style-type: decimal;
  list-style-position: inside;
  margin-left: 1rem;
}

.prose ol li::marker {
  color: #c3c3c3;
}

.dark .prose ol li::marker {
  color: #666;
}

.prose img {
  margin: 1rem auto;
  margin-bottom: 1rem;
  max-width: 300px;
  text-align: center;
}

.prose blockquote {
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  background-color: #f5f5f5;
  border-left: 4px solid #f1d6ff;
}

.dark .prose blockquote {
  background-color: #333;
  border-left: 4px solid #814a9d;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  scroll-margin-top: 100px;
}

.prose a {
  color: #0070f3;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 118, 255, 0.2);
}

.dark .prose a {
  color: #0cf;
  border-bottom-color: rgba(0, 204, 255, 0.2);
}

.prose a:hover {
  border-bottom-color: transparent;
}

.prose p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: justify;
}

.prose code {
  padding: 0.2rem 0.4rem;
  background-color: #f5f5f5;
  border-radius: 4px;
}
